<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planb_frontend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".StudentConnectionActivity" />
        <activity android:name=".StudentHistoryActivity" />
        <activity android:name=".StudentProfileActivity" />
        <activity android:name=".TutorConnectionActivity" />
        <activity android:name=".TutorHistoryActivity" />
        <activity android:name=".TutorPageActivity" />
        <activity android:name=".TutorProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StudentPageActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".getStartedActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".TutorRegisterActivity" />
        <activity android:name=".SubmitTicketActivity" />
        <activity android:name=".AcceptTicketActivity" />
        <activity android:name=".WelcomePageActivity" />
        <activity android:name=".AcceptTicketActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.planb_backend.service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>