<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Controller">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="com.example.Controller"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.Controller.StudentConnectionActivity" android:parentActivityName="com.example.Controller.MainActivity"/>
        <activity android:name="com.example.Controller.StudentHistoryActivity" />
        <activity android:name="com.example.Controller.StudentProfileActivity" />
        <activity android:name="com.example.Controller.TutorConnectionActivity" />
        <activity android:name="com.example.Controller.TutorHistoryActivity" />
        <activity android:name="com.example.Controller.TutorPageActivity" />
        <activity android:name="com.example.Controller.TutorProfileActivity" />
        <activity android:name="com.example.Controller.LoginActivity" />
        <activity android:name="com.example.Controller.StudentPageActivity" />
        <activity android:name="com.example.Controller.ChooseActivity" />
        <activity android:name="com.example.Controller.getStartedActivity" />
        <activity android:name="com.example.Controller.StudentRegisterActivity" />
        <activity android:name="com.example.Controller.TutorRegisterActivity" />
        <activity android:name="com.example.Controller.SubmitTicketActivity" />
        <activity android:name="com.example.Controller.AcceptTicketActivity" />
        <activity android:name="com.example.Controller.AddCourses"></activity>
        <activity android:name="com.example.Controller.WelcomePageActivity" />
        <activity android:name="com.example.Controller.ResetPasswordActivity" />
        <activity android:name="com.example.Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.planb_backend.service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>